body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    overflow: hidden;
    height: 100vh;
}

.highcharts-credits,

.tipo{
  text-align: center;
  font-size: 20px;
  font-weight: bold;;
}

.centro{
    text-align: center;
}

.oculto{
    // display: none;
}

.ativo{
    display: block;
}

.link{
    font-size: 20px;
    text-align: center;
}

text[data-z-index="1"] {
    tspan:first-child{
        display: none;
    }
}

.highcharts-container, .highcharts-root{
    height: 75vh !important;
}

.centro{
    height: 10vh !important;
    background: url(https://www.highcharts.com/samples/graphics/sand.png);
}

.bg, body{    
    background: url(https://www.highcharts.com/samples/graphics/sand.png);
}

.titulo{
    width: 30%;
    display: block;
    margin: 0 auto;
    input{
        text-align: center;
        &:focus{
            &::placeholder { 
                opacity: 0;
                text-align: center;
            }
        }
        &::placeholder {
            color: black;
            opacity: 1; 
            transition: .7s all;
            text-align: center;
        }
    }
}

.highcharts-reset-zoom{
    tspan{
        display: block !important;
    }
}

.input-field{
    margin: 0 !important;
}

